COMPOSE_PROJECT_NAME=a2billingplus

A2BP_HTTP_PORT=8080
A2BP_HTTP_84_PORT=8084
A2BP_DB_PORT=3307
A2BP_REDIS_PORT=6379
A2BP_ASTERISK_AMI_PORT=5038
A2BP_ASTERISK_ARI_PORT=8088
A2BP_ASTERISK_SIP_PORT=5060
A2BP_ASTERISK_RTP_START=10000
A2BP_ASTERISK_RTP_END=10020

MYSQL_DATABASE=mya2billing
MYSQL_USER=a2billinguser
MYSQL_PASSWORD=a2billing
MYSQL_ROOT_PASSWORD=a2billing-root

A2BP_DB_HOST=db
A2BP_DB_NAME=mya2billing
A2BP_DB_USER=a2billinguser
A2BP_DB_PASSWORD=a2billing
A2BP_SECRET_DIR=
A2BP_API_SERVICE_KEY=
A2BP_API_SERVICE_KEY_FILE=

ASTERISK_AMI_USER=a2billing
ASTERISK_AMI_PASSWORD=a2billing-ami
ASTERISK_ARI_USER=a2billing
ASTERISK_ARI_PASSWORD=a2billing-ari

VECTAVOIP_API_BASE_URL=https://api.vectavoip.com
VECTAVOIP_INSTALL_KEY=
VECTAVOIP_INSTALLATION_ID=
VECTAVOIP_API_KEY=
VECTAVOIP_API_SECRET=
VECTAVOIP_API_KEY_FILE=
VECTAVOIP_API_SECRET_FILE=
VECTAVOIP_WEBHOOK_SECRET=
VECTAVOIP_WEBHOOK_SECRET_FILE=
