*.pyc
*dilla*
*.db
*nbproject*
*devserver*
*sublime*
*~

# PhpStorm
.idea/
*.iml
/vendor/
.env
.env.local
.env.stripe
.phpunit.result.cache

# Local migration outputs can contain customer data.
/development/

