COMPOSE_PROJECT_NAME=vectavoip_api

A2BP_HTTP_PORT=8080

MYSQL_DATABASE=mya2billing
MYSQL_USER=a2billinguser
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT

A2BP_DB_HOST=db
A2BP_DB_NAME=mya2billing
A2BP_DB_USER=a2billinguser
A2BP_DB_PASSWORD=CHANGE_ME
A2BP_DB_DSN=mysql:host=db;dbname=mya2billing;charset=utf8mb4

A2BP_SECRET_DIR=/run/secrets/a2billingplus
A2BP_API_SERVICE_KEY_FILE=/run/secrets/a2bp_api_service_key

VECTAVOIP_API_BASE_URL=https://api.vectavoip.com
VECTAVOIP_WEBHOOK_SECRET_FILE=/run/secrets/vectavoip_webhook_secret
